html   
    body
        h1="Lista de Productos"
        ul
            each i in arreglo
                li
                    div 
                        p=i.name
                        p=i.precio 

//- html
//-     head 
//-         title="Pug"
//-     body 
//-         h1="pug"
//-         ul 
//-             each prod in preparedObject 
//-                 li 
//-                     p=prod.name 
//-                     p=prod.precio 